.red {
  background-color: #ac1818;
}

.yellow {
  background-color: #ffba00;
}

.green {
  background-color: #00960e;
}

.blue {
  background-color: #00c2b2;
}

.gray {
  background-color: #8e8e8e;
}
