@import '../settings/variables.scss';
.Button {
  width: 225px;
  height: 60px;
  position: relative;
  cursor: pointer;

  &__svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }

  &__rect {
    fill: none;
    stroke: $primary;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.3s ease;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: $primary;
    font-family: $open-sans;
    font-size: 18px;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;
  }

  &:hover {
    .Button__input {
      font-weight: $bold;
      letter-spacing: 0.2em;
    }

    .Button__rect {
      stroke-width: 5;
      stroke-dasharray: 45, 378;
      stroke-dashoffset: 48;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
