@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Cards {
  &__category {
    padding-left: 18px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 8px;
      height: 5px;
      bottom: 50%;
      transform: translateY(50%);
      background: {
        image: url('/images/common/white-arrow.png');
        size: 100%;
        repeat: no-repeat;
      }
      transition: 0.3s ease;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    @include sp {
      margin-top: 20px;
    }
  }

  &__add {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    margin-bottom: 35px;
    @include sp {
      margin: 0 auto 30px;
      height: 335px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 2px rgba(62, 62, 62, 0.2);
    }
  }

  &__addText {
    font-size: 14px;
  }

  &__block {
    &__hide {
      .Cards__container {
        display: none;
      }

      .Cards__category {
        &::before {
          transform: translateY(50%) rotate(-90deg);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 50px;
      @include sp {
        margin-bottom: 20px;
      }
    }
  }
}
