@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.CardItem {
  position: relative;
  width: 200px;
  overflow: hidden;
  margin-right: 25px;
  margin-bottom: 35px;
  transition: 0.3s ease;
  @include sp {
    margin: 0 auto 30px;
  }

  &__imageContainer {
    width: 100%;
    height: 260px;
    background-color: #101010;
    color: $primary;
    position: relative;
    z-index: 1;
    font-size: 0;
  }

  &__noImage {
    color: $primary;
    position: absolute;
    font-size: 18px;
    bottom: 50%;
    width: 100%;
    text-align: center;
    left: 0;
    transform: translateY(50%);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__optionsDots {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 1;

    div {
      width: 3px;
      height: 3px;
      background-color: $primary;
      transition: 0.3s ease;

      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }

  &__optionsContainer {
    width: 100px;
    background-color: $black;
    padding: 20px 15px 10px;
    color: $primary;
    transform: translateX(100px);
    transition: 0.3s ease;
  }

  &__optionItem {
    font-size: 12px;
    line-height: 1.5em;
    display: block;
    transition: 0.3s ease;

    &:hover {
      color: $white;
    }
  }

  &__title {
    color: #dedede;
    margin-top: 10px;
  }

  &__date {
    color: #dedede;
    font-size: 12px;
    margin-top: 7px;
  }

  &:hover {
    transform: translateY(-10px);
  }

  &__options {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &__active {
      .CardItem__optionsContainer {
        transform: translateX(0);
      }

      .CardItem__optionsDots {
        div {
          &:first-child,
          &:last-child {
            height: 10px;
            width: 2px;
          }

          &:first-child {
            transform: rotate(-45deg) translate(8px, 7px);
          }

          &:last-child {
            transform: rotate(45deg) translate(-1px, 0px);
          }

          &:nth-child(2) {
            opacity: 0;
          }
        }
      }
    }
  }
}
