@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Content {
  background-color: #171717;
  min-height: 100vh;
  color: $white;
  padding: 120px 60px 100px;
  @include sp {
    padding: 90px 4% 100px;
    overflow: hidden;
  }
}
