@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Hobby {
  margin-top: 50px;

  &__settings {
    display: flex;
    margin-bottom: 50px;
    width: 950px;
    margin: 0 auto;
    max-width: 100%;
    @media screen and (max-width: 1080px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 200px;
    height: 275px;
    margin-right: 20px;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 1080px) {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }

  &__file {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__fileContent {
    text-align: center;
    pointer-events: none;
  }

  &__imageText {
    font-size: 14px;
  }

  &__input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include sp {
      width: 100%;
    }

    & > div {
      margin-bottom: 50px;
      @include sp {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  input,
  select {
    margin-right: 15px;
    @include sp {
      margin-right: 0;
    }
  }

  &__button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  &__imageUploaded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  &__error {
    position: absolute;
    bottom: -25px;
    left: 0;
    color: $red;
    font-size: 14px;
  }
}
