@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.InputItem {
  position: relative;
  @media screen and (max-width: 350px) {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 45px;
  }

  &__label {
    position: absolute;
    top: 15px;
    left: 22px;
    font-size: 18px;
    font-weight: $light;
    color: $white;
    transition: 0.3s ease;
    pointer-events: none;
  }

  &__labelTop {
    font-size: 16px;
    left: 0;
    top: -25px;
  }

  input,
  &__input {
    width: 350px;
    height: 56px;
    padding: 15px 22px;
    font-size: 18px;
    font-weight: $light;
    color: $white;
    border: 1px solid $primary;
    background: transparent;
    outline: 0;
    font-family: $open-sans;
    max-width: 100%;

    &:placeholder-shown,
    &:focus {
      & + .InputItem__label {
        font-size: 16px;
        left: 0;
        top: -25px;
      }
    }
  }

  &__inputTextarea {
    min-height: 173px;
    resize: vertical;
    margin-right: 15px;
    max-width: 100%;
    @include sp {
      margin-right: 0;
    }
  }

  &__inputSelect {
    background-color: #171717;
    appearance: none;
    background: {
      image: url('/images/common/arrow-down.png');
      size: auto;
      repeat: no-repeat;
      position: right 14px center;
    };
  }

  &__error {
    border: 1px solid $red;
    background-color: rgba(192, 72, 72, 0.5);
  }

  &__errorMessage {
    color: $red;
    position: absolute;
    left: 0;
    bottom: -25px;
    font-size: 14px;
  }

  &__strengthMeter {
    position: absolute;
    bottom: -25px;
    right: 0;
    margin-top: 6px;
    display: flex;
    align-items: center;
  }

  &__meterStatus {
    font-weight: $light;
    font-size: 12px;
    margin-right: 9px;
    color: $white;
    text-transform: capitalize;
  }

  &__meterBox {
    display: flex;

    div {
      width: 30px;
      height: 10px;
      border: 1px solid $primary;
      transition: 0.3s ease;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &__weak {
    div {
      &:last-child {
        background-color: $primary;
      }
    }
  }

  &__medium {
    div {
      &:nth-last-child(-n + 2) {
        background-color: $primary;
      }
    }
  }

  &__strong {
    div {
      background-color: $primary;
    }
  }

  &__checkboxContainer {
    display: flex;
    flex-wrap: wrap;
  }

  &__checkboxItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 9px;
    margin-right: 50px;
  }

  &__checkboxText {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 24px;
    font-size: 14px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 13px;
      height: 13px;
      border: 2px solid $primary;
    }

    &::after {
      content: '';
      position: absolute;
      left: 3px;
      top: 4px;
      width: 14px;
      height: 12px;
      background: {
        image: url('/images/common/checkmark.png');
        size: 100%;
        repeat: no-repeat;
      }
      opacity: 0;
    }
  }

  &__checkbox {
    position: absolute;
    left: -9999px;

    &:checked + .InputItem__checkboxText::after {
      opacity: 1;
    }
  }

  &__addCategory {
    position: relative;
    width: 350px;
    max-width: 100%;
  }

  &__inputCategory {
    height: 35px !important;
    padding: 5px !important;
    font-size: 14px !important;
    font-weight: $light !important;
    margin-top: 15px;
  }

  &__plus {
    position: absolute;
    right: 10px;
    top: 22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;

    div {
      position: absolute;
      background-color: $primary;
      border-radius: 2px;

      &:first-child {
        width: 3px;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        height: 100%;
      }

      &:last-child {
        width: 100%;
        left: 0;
        bottom: 50%;
        transform: translateY(50%);
        height: 3px;
      }
    }
  }
}
