@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Login {
  background-color: $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include sp {
    padding: 0 4%;
  }

  &__container {
    margin: 40px 0 45px;
    max-width: 100%;
  }

  &__text {
    color: $white;
    font-size: 16px;
    font-weight: $light;
    margin-top: 20px;
  }

  &__link {
    margin-left: 5px;
    text-decoration: underline;
    transition: 0.3s ease;

    &:hover {
      color: $primary;
    }
  }
}
