@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Logo {
  color: $primary;
  font-size: 36px;
  display: flex;
  align-items: center;
  @include sp {
    font-size: 26px;
  }

  &__bold {
    font-weight: $bold;
    font-size: 72px;
    @include sp {
      font-size: 62px;
    }
  }
}
