@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  padding: 10px 20px;
  color: $primary;
  z-index: 900;
  @include sp {
    padding: 10px 4%;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 23.34px;
    @include sp {
      font-size: 16px;
    }
  }

  &__logoBold {
    font-size: 46.68px;
    font-weight: $bold;
    @include sp {
      font-size: 35px;
    }
  }

  &__picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    @include sp {
      width: 40px;
      height: 40px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__menuContainer {
    max-height: 0;
    transition: 0.3s ease;
    overflow: hidden;
    position: absolute;
    top: 67px;
    right: -20px;
    background-color: $black;
    @include sp {
      top: 53px;
      right: -24%;
    }
  }

  &__profile {
    padding-right: 17px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
      height: 7px;
      transition: 0.3s ease;
      background: {
        image: url('/images/common/arrow-down.png');
        size: 100%;
        repeat: no-repeat;
      }
    }

    &__active {
      .Navigation__menuContainer {
        max-height: 116px;
      }

      &::after {
        transform: translateY(50%) rotate(180deg);
      }
    }
  }

  &__menu {
    width: 155px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: $bold;
    line-height: getem(14, 24);
  }

  &__link {
    display: block;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
      color: $white;
    }
  }
}
