@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Personal {
  &__header {
    position: relative;
    display: flex;
    width: 740px;
    margin: 0 auto;
    align-items: center;
    max-width: 100%;
  }

  &__imageHover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: $light;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
  }

  &__image {
    position: relative;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: {
      image: url('/images/common/default-profile.jpg');
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    overflow: hidden;
    border: 1px solid;
    margin-right: 30px;
    flex-shrink: 0;

    &:hover {
      .Personal__imageHover {
        opacity: 1;
      }
    }
  }

  &__title {
    font-size: 30px;
    font-weight: $light;
  }

  &__form {
    margin-top: 30px;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include sp {
      flex-direction: column;
      align-content: center;
    }

    input {
      margin-right: 25px;
      @include sp {
        margin-right: 0;
      }
    }
  }

  &__buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    flex-wrap: wrap;
    @include sp {
      flex-direction: column;
      align-items: center;
    }

    & > div {
      margin-right: 25px;
      margin-bottom: 25px;
      @include sp {
        margin-right: 0;
      }
    }
  }

  &__message {
    font-size: 20px;
    color: $primary;
    font-weight: $bold;
    text-align: center;
  }

  &__file {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__imageUploaded {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__error {
    display: block;
    width: 740px;
    margin: 20px auto 0;
    max-width: 100%;
    color: $red;
    font-size: 14px;
  }
}
