@import '../settings/variables.scss';
.Plus {
  width: 90px;
  height: 90px;
  position: relative;
  margin-bottom: 15px;

  &__icon {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    background-color: $primary;
    border-radius: 6px;

    &:first-child {
      height: 100%;
      width: 10px;
    }

    &:last-child {
      width: 100%;
      height: 10px;
    }
  }
}
