@import '../settings/variables.scss';
@import '../tools/mixin.scss';
.Profile {
  width: 850px;
  margin: 0 auto;
  max-width: 100%;

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 35px;
      @include sp {
        margin-bottom: 15px;
      }
    }
  }

  &__title {
    width: 100%;
    font-weight: $bold;
    color: $white;
    background-color: $black;
    padding: 10px 40px;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    @include sp {
      font-size: 20px;
      padding: 10px 30px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      top: 26px;
      background-color: #ac1818;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      @include sp {
        left: 10px;
        top: 19px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 17px;
      top: 25px;
      width: 10px;
      height: 7px;
      background: {
        image: url('/images/common/arrow-down.png');
        size: 100%;
        repeat: no-repeat;
      }
      filter: brightness(0) invert(1);
      transition: 0.3s ease;
      @include sp {
        right: 15px;
        top: 19px;
      }
    }
  }

  &__titleYellow {
    &::before {
      background-color: $primary;
    }
  }

  &__titleGreen {
    &::before {
      background-color: $green;
    }
  }

  &__titleBlue {
    &::before {
      background-color: $blue;
    }
  }

  &__titleGray {
    &::before {
      background-color: $gray;
    }
  }

  &__table {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
  }

  &__itemActive {
    .Profile__title {
      background-color: #ac1818;

      &::after {
        transform: rotate(180deg);
      }
    }

    .Profile__titleYellow {
      background-color: $primary;
    }
  
    .Profile__titleGreen {
      background-color: $green;
    }
  
    .Profile__titleBlue {
      background-color: $blue;
    }
  
    .Profile__titleGray {
      background-color: $gray;
    }
  }

  &__itemTable {
    padding: 15px 0;
    border-bottom: 1px solid $white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    @include sp {
      font-size: 16px;
      flex-direction: column;
    }
  }

  &__itemTitle {
    @include sp {
      display: block;
      margin-bottom: 10px;
    }
  }
}
