//color
$primary: #ffba00;
$black: #000;
$white: #fff;
$red: #c04848;
$green: #00960e;
$blue: #00c2b2;
$gray: #8e8e8e;

//font family
$open-sans: 'Open Sans', sans-serif;

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
