.react-datepicker {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 0;

  &-wrapper {
    max-width: 100%;
  }

  &__header {
    border-radius: 0;
    background-color: $primary;
    border-bottom: 1px solid $primary;
  }

  &__triangle {
    left: 130px !important;
  }

  &__day-name,
  &__day,
  &__time-name {
    color: $primary;
    width: 30px;
    padding: 5px;
    margin: 10px;
  }

  &__day,
  &__month-text,
  &__quarter-text,
  &__year-text {
    &:hover {
      border-radius: 0;
      background-color: $black;
    }
  }

  &__day-name {
    color: $black;
  }

  &__current-month,
  &-time__header,
  &-year-header {
    font-size: 16px;
    color: $black;
    margin: 10px 0;
  }

  &__navigation {
    border: 10px solid transparent;
    top: 15px;
    outline: none;

    &--previous {
      border-right-color: $black;

      &:hover {
        border-right-color: $black;
      }
    }

    &--next {
      border-left-color: $black;

      &:hover {
        border-left-color: $black;
      }
    }
  }

  &__day--selected,
  &__month-text--selected,
  &__quarter-text--selected,
  &__year-text--selected {
    background-color: $black;
    border: 1px solid $primary;
    border-radius: 0;
  }

  &__day--keyboard-selected,
  &__month-text--keyboard-selected,
  &__quarter-text--keyboard-selected,
  &__year-text--keyboard-selected {
    border-radius: 0;
    background-color: $black;
  }
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-bottom-color: $primary;
}
